@font-face {
    font-family: pixel;
    src: url(../fonts/pixeled/Pixeled.ttf)

} 

* {
    font-family: pixel;
}

body {
    background-color: lightsalmon;
    overflow-x: hidden;
}


#top-part {
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
   /* border-bottom: 1vh pink solid; */
}

#text {
    margin-top: auto;
    font-size: 3rem;
    margin-left: 2vw
}

#pfp {
    width: 15vw;
    border-radius: 10px;
}

#gamePics {
    display: flex;
    direction: column;
    justify-content: center;
}

.game {
    box-sizing: border-box;
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 181, 103);
    align-items: center;
    padding: 5px;
    border-radius: 10px;
}

.gamePictures {
    max-width: 20vw;
    margin-right: 2vw;
    filter: grayscale(0.8);
    border-radius: 5px;
    transition: all 0.2s;
}


.gamePictures:hover {
    filter: grayscale(0);
    cursor: pointer;
}

#ostContainer {
    background-color: black;
    width: fit-content;
    height: 20vh;
    position: absolute;
    display: flex;
    align-items: center;
}

#osts {
    opacity: 50%;
    display: flex;
    justify-content: end;
}

.arrowButton-ost {    
    height: 40%;
    filter: invert();
    cursor: pointer;
}

#arrowButton-2 {
    transform: rotate(180deg);
}
 
#songImage {
    height: 50%;
    border-radius: 10px;
}

#ostContainer p {
    filter: invert();
}